

#firstsection {
    background-color: #283149;
 
   
}
.navbar {
    padding-bottom: 0 0 4.5rem;

}
.brandname {
    font-size: 1.8rem;
    font-family: 'Audiowide';
    color: #fff;
}



.modal-title {
    font-size: 1.5rem;
    font-family: math;
    font-weight: bold;
}

.booking {
    font-size: 1rem;
    font-family: cursive;
}

.subi {
    width: 100px;
}


.nav-item {
    padding: 0 18px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}




.app {

    padding-top: 10px;
    padding-left: 70px;
   
}
#carouselid {
    
    padding-top: 1px;
    padding-bottom: -3px
   
}

.c-item {
height: 500px;
width: 100%;
}

.c-img {
height: 100%; 
object-fit: cover;
filter: brightness(0.6);
}


@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


#cardd {
    background-color: #FFF6F6;
    padding-top: 30px;
    color: black;
    padding-bottom: 30px;
    padding-left: 30px;
    animation: fade-right 1s ease-in;
   
}




.card-title {
    /* font-family: ui-sans-serif; */
    font-size: 1.8rem;
    font-family: Agbalumo;
}


.card-text {
    font-family: system-ui;
    font-size: large;
    
}
.totruck {
    width: 400px;
}



.icon {
    color: #303841;

}

.btn1 {
    
  
  animation: grow-and-shrink 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.brdlogo {

    width: 400px;
    filter: brightness(1);
  
}

.maincard {
    padding-left: 10px;
    width: 100px;
}

.icon:hover {
    color: royalblue;
}

.mac {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: inherit;
}

.pmac {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 10px;

}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


@keyframes fade-In {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#textsmall {
     background-color: #FFF6F6;
     padding-top: 10px;
     padding-bottom: 10px;
     color: black;
    
     
}


#whywe {
    background-color: #CBE4DE;
     
}
.text1 {
    padding-top: 10px;
  padding-left: 20px;
  font-size: 2rem;

  padding-bottom: 10px;
  
}


.text2 {
  padding-left: 20px;
  font-size: 1.3rem;

 
}

p{
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}


@keyframes grow-and-shrink {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.7);
    }
  }


#thirdsec {

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.thirdtext1 {
    text-align: center;
   
    font-size: 2.3rem;
  
}

.thirdtext2 {
    text-align: center;
    text-size-adjust: 10px;
    padding-right: 10px;
    font-size: 1.9rem;
    font-family: cursive;
}

.brandstext {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

 
#brandssec {

    background-color: #ffeed9;
    padding-top: 10px;
}


.symbol {
        width: 400px;
        background-color: #ffeed9;
        object-fit: cover;
        height: 200px;
        padding-top: 20px;
}

.listsymbol {
    font-family: cursive;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 10px;

}

#clients {
    background-color: #DCF2F1;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.clienttext {
    font-weight: bolder;
    font-size: 1.8rem;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#breakdown {
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 50px;
    
}

.brktext {
    font-size: 1.7rem;
    font-weight: bold;
    font-style: oblique;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#footi {
    padding-top: 20px;
    padding-left: 20px;
    background-color: black;

}

.last {
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.textcon {
    font-size: 1.5rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 20px;
}

.mapfoot {
    text-align: center;
    background-color: white;
}

.map {
  
    padding-top: 20px;
    padding-left: 15px;
}

.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.3s ease-in;
  }

  .active.fade-left {
    animation: fade-left 0.3s ease-in;
  }
  .active.fade-right {
    animation: fade-right 0.3s ease-in;
  }

  .active.fade-down {
    animation: fade-down 0.3s ease-in-out;
  }

  .active.fade-In {
    animation: fade-In 1.4s ease-out;
  }


  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #283149;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#scrollToTopBtn:hover {
    background-color: #1B4242;
}

#lastsec {
  background-color: grey;
}


.hedd1 {
  padding-left: 20px;
}
.hedd11 {
  padding-left: 20px;
}
.nav1br {
float: left;
padding-top: 20px;
color: #fff;
}
.thirdsecion {
  background-color: grey;
  overflow: hidden;
}


.facebook1 {
color: 	#1877F2;
background-color: #fff;
}

.twitter1 {
color:  #1DA1F2;
background-color: #fff;
}

.instagram1 {
color:  #cd486b ;
background-color: #fff;
}

.linkedin1 {
color: #0077b5;
background-color: #fff;
}


.c-item {
  height: 500px;
  width: 100%;
  }
  

  /* @media only screen and (min-width: 278px) and (max-width: 299px) { 


    .appimi1 {
      width: 170px;
    }
  
    .appimi2 {
      width: 170px;
    } 
  
    .appimi3 {
      width: 170px;
    }
  
    .appimi4 {
      width: 170px;
    }

    


  } */

@media only screen and (min-width: 300px) and (max-width: 390px) { 

  .appimi1 {
    width: 170px;
  }

  .appimi2 {
    width: 170px;
  } 

  .appimi3 {
    width: 170px;
  }

  .appimi4 {
    width: 170px;
  }

  .symbol {
    width: 100%;
}

.totruck {
  width: 100%;
}

.image2 {
  width: 100%;
}

.map {
  width: 100%;
}

.brdlogo {
  width: 100%;
}

}

@media only screen and (min-width: 500px) and (max-width: 750px) { 

  .appimi1 {
    width: 170px;
  }

  .appimi2 {
    width: 170px;
  } 

  .appimi3 {
    width: 170px;
  }

  .appimi4 {
    width: 170px;
  }

  
.totruck {
  width: 100%;
}

.image2 {
  width: 100%;
}

.map {
  width: 100%;
}

.brdlogo {
  width: 100%;
}


}

@media only screen and (min-width: 751px) and (max-width: 850px) {

  .nava11 {
            
    width: 100%;


}

.symbol {
      width: 100%;
}

  

.totruck {
  width: 100%;
}

.image2 {
  width: 100%;
}

.map {
  width: 100%;
}

.brdlogo {
  width: 100%;
}

.nav1br {
float: left;
width: 100%;
color: #fff;
}

.hedd1 {
font-size: 1rem;
}


.image2 {
  width: 100%;
}

.symbol {
  width: 100%;
  padding-left: 10px;
}

.map {
  width: 100%;
  padding: 0;


}

.brdlogo {
  width: 100%;
}

.totruck {
  width: 280px;
}

.navbar-toggler {
  width: 70px;
  margin-right: 10px;
}



.btn-collapse {
  margin-right: 20px;
  }

  .appimi1 {
    width: 100px;
  }

  .appimi2 {
    width: 100px;
  } 

  .appimi3 {
    width: 100px;
  }

  .appimi4 {
    width: 100px;
  }
}



@media only screen and (min-width: 851px) and (max-width: 960px) {

  .nava11 {
            
    width: 100%;


}


.totruck {
  width: 100%;
}

.image2 {
  width: 100%;
}

.map {
  width: 100%;
}

.brdlogo {
  width: 100%;
}


.symbol {
      width: 200px;
}

  
.nav1br {
float: left;
width: 100%;
color: #fff;
}

.hedd1 {
font-size: 1rem;
}


.image2 {
  width: 100%;
}

.symbol {
  width: 300px;
  padding-left: 10px;
}

.map {
  width: 100%;
  padding: 0;


}

.brdlogo {
  width: 100%;
}

.totruck {
  width: 280px;
}

.navbar-toggler {
  width: 70px;
  margin-right: 10px;
}



.btn-collapse {
  margin-right: 20px;
  }

  .appimi1 {
    width: 100px;
  }

  .appimi2 {
    width: 100px;
  } 

  .appimi3 {
    width: 100px;
  }

  .appimi4 {
    width: 100px;
  }
}
